@keyframes animacion_test{
    from{
        background-color: rgb(212, 245, 234);
    }
    to{
        background-color: rgb(0, 133, 88);
    }
}

@keyframes girar{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes label-animation{
    from{
        transform: rotate(0deg);
        margin-left: 0;
    }
    to{
        transform: rotate(180deg);
        margin-left: 85vw;
    }
}

.label-container{
    width: 100%;
    padding: 1.3rem;
    box-sizing: border-box;
}

.label{
    width: 64px;
    background-color: rgb(57, 85, 92);
    color: beige;
    font-size: 1.3rem;
    padding: 1rem;
    border-radius: 20px;
    animation-name: label-animation;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.loader{
    width: 64px;
    height: 64px;
    border: 10px solid rgb(155, 156, 221);
    border-top: 10px solid rgb(106, 187, 219);
    border-radius: 50%;
    animation: girar 2s linear infinite;
}

.loader-double{
    width: 64px;
    height: 64px;
    border: 10px solid rgb(176, 221, 155);
    border-top: 10px solid rgb(33, 108, 138);
    border-bottom: 10 px solid rgb(70, 247, 188);
    border-radius: 50%;
    animation: girar 2s linear infinite;
}

.animada{
    width: 100%;
    background-color: bisque;
    color:rgb(33, 108, 138);
    text-align: center;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: animacion_test 2s alternate infinite;
}
footer{
    width: 100%;
    height: 150px;
    background-color: rgb(181, 203, 223);
    margin-top: 5px;
    border-radius: 5px;
}