<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ConsultarAlumnos</servlet-name>
        <servlet-class>ConsultarAlumnos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Modificar</servlet-name>
        <servlet-class>Modificar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarBoleta</servlet-name>
        <servlet-class>ModificarBoleta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarNombre</servlet-name>
        <servlet-class>ModificarNombre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarApellidos</servlet-name>
        <servlet-class>ModificarApellidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarTelefono</servlet-name>
        <servlet-class>ModificarTelefono</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IngresarAlumno</servlet-name>
        <servlet-class>IngresarAlumno</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConsultarAlumnos</servlet-name>
        <url-pattern>/ConsultarAlumnos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Modificar</servlet-name>
        <url-pattern>/Modificar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarBoleta</servlet-name>
        <url-pattern>/ModificarBoleta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarNombre</servlet-name>
        <url-pattern>/ModificarNombre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarApellidos</servlet-name>
        <url-pattern>/ModificarApellidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarTelefono</servlet-name>
        <url-pattern>/ModificarTelefono</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IngresarAlumno</servlet-name>
        <url-pattern>/IngresarAlumno</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
