*{
    padding: 10px;
    margin: 0;
    background-color: bisque;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.main{
    color: rgb(0, 0, 0);
}

.informacion,.info,section,aside,article, footer{
    border-radius: 8px;
    padding: 1rem; 
}
.informacion{
    border-width: 4px;
    background-color:brown;
}
.info{
    float: left;
    width: 35%;
    height: 350px;
    align-content: center;
}
nav{
    background-color: grey;
}

section{
    float: right;
    width: 100%;
    height: 100px;
}

aside{
    float:left;
    width: 55%;
    height: 550px;
    align-content: center;
}
footer{
    border: 5px, slategrey;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
