*{
    background-color: #E5E3C9;
    color: #3e3c3d;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
}
/* Colores 
    #E5E3C9 //fondo
    #53022b //poli
    #FFEBC1 //color beige
    #800040 //politecnico clarito
    #3e3c3d //color letra
    rgb(39, 36, 36)
*/
#encabezado{
    border: solid;
    border-radius: 7px;
    border-color: black;
    width: 98%;
    height: 150px;
    display: flex;
    justify-content:space-between;
    padding: 5px;
}
#bienvenida{
    width: 35%;
    height: 100px;
    margin: 5px;
}
h1{
    color: #53022b;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 70px;
}
h2{
    color: #53022b;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}
h5{
    font-size: 30px;
    color: #3e3c3d;
}
#error, #error6{
    color: #a71d1d;
}

#paginas{
    padding: 5px;
    display: flex;
    justify-content: center;
    width: 60%;
}
nav{
    width: 98%;
    height: 370px;
    display: flex;
    justify-content: space-around;
}
#ipn{
    height: 95%;
    width: 35%;
    display: flex;
    justify-content: center;
}
#datosu{
    height: 300px;
    width: 35%;
    border: solid;
    border-radius: 5px;
    border-color: #800040;
    display: flex;
    justify-content: center;
}
#form{
    height: 95%;
    width: 75%;
}
#formularioItems{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    padding-right: 7px;
}
#formularioP{
    width: 65%;
    justify-content: space-between;
}
#divError{
    width: 30%;
}

footer{
    border: solid;
    border-radius: 7px;
    border-color:cadetblue;
    width: 98%;
}

button{
    background-color: #740f41;
    color: whitesmoke;
}
select, input{
    border-radius: 10px;
    background-color: beige;
}