*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
body{
    background-color: rgb(49, 48, 48);
}

.navegador{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: row;
    border-color: brown;
    border: 5px;
}
nav{
    width: 30%;
    height: 100%;
    background-color: lightslategrey;
    color: white;
    margin-top: 20px;
    padding-top: 10px;
}
main{
    width: 70%;
    height: 100%;
    background-color: #B7CADB;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

h3,h5,p,footer{
    text-align: center;
}
footer{
    height: 130px;
    margin-top: 5px;
    padding: 8px;
    border-radius: 15px;
    color: black;
    background-color: #DAB88B;
}
button{
    background-color: rgb(3, 117, 117);
    color: beige;
    margin: 7px;
    border-radius: 5px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}