*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
body{
    background-color: rgb(0, 0, 0);
}
nav{
    width: 30%;
    height: 400px;
    background-color: lightslategrey;
    color: white;
    margin-right: 5px;
    margin-top: 20px;
    padding-top: 10px;
    border-radius: 10px;
}
h3,h5,p,footer{
    text-align: center;
}
footer{
    height: 130px;
    margin-top: 10px;
    padding: 8px;
    border-radius: 15px;
    color: black;
    background-color: darkseagreen;
}