*{
    padding: 10px;
    margin: 0;
    color: #746f6f;
    text-align: center;
}

html, body{
    background-color: antiquewhite;
}

.main-container{
    border: 4x solid rgb(28, 20, 133);
    border-radius: 50px;
}

nav, section, footer, aside, article{
    border: 10px, solid#000000;
    margin: 1rem;
    border-radius: 10px;
    padding: 1rem;
}

article, aside{
    width: 40%;
    display: inline-block;
    height: 350px;
    background-color: #e0f0a9;
}

nav, footer, section{
    background-color: rgb(118, 199, 199);
    
}